/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.wrapper {
  max-width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem 2rem;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  text-align: center;
}

form {
  width: 100%;
}

.container h3 {
  text-transform: uppercase;
  margin: 0;
}

.container p {
  margin-block: 1rem;
}

.form-input {
  width: 100%;
}

.form-input .input {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

input {
  width: 67%;
  padding: 0.8rem 1rem;
  border-radius: 100vw;
  outline: none;
  border: 0.1rem solid #d1d1d1;
}

::placeholder {
  color: #d1d1d1;
}

.subscribe-btn {
  padding: 0.8rem 1.5rem;
  border-radius: 100vw;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

#email.error {
  border-color: #d01c1c;
}

#error-message {
  text-align: left;
  color: #d01c1c;
  font-size: 0.8125rem;
}
